@media (min-width: 768px) {
    .flex-row-responsive {
      flex-direction: row !important;
    }
  }
  
  .course-img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @media (min-width: 720px) {
    .course-img-fluid {
      width: 400px;
      height: 100%;
    }
  
    .lg-flex {
      display: flex;
    }
  }


  /* @media (max-width: 1700px) {
    .inf-div {
        padding: 20px;
        flex: 1;
    }
  }
  
  @media (max-width: 720px) {
    .inf-div {
        padding: 20px;
        flex: 1;
    }
  } */


  .rounded-view {
    border-radius: 15px; 
    /* box-shadow: 0px 3px 6px #00000029; */
    transition: background-color 0.5s ease;
  }
  
  .rounded-view:hover {
    background-color: #f5f5f5; 
  }

  .rounded-img {
    border-radius: 10px;
  }
  